<!-- start custom footer snippets -->
<button
  type="button"
  id="pro-scroll-top"
  class="pro-scroll-top"
  aria-label="{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to top' }}"
  aria-hidden="true"
  tabindex="-1"
>
  <span class="pro-scroll-top__icon" aria-hidden="true">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
      <path fill="currentColor" d="M12 5l7 7h-4v7H9v-7H5l7-7z"/>
    </svg>
  </span>
</button>
<!-- end custom footer snippets -->